body {
	background-color: #e4f7ff;
	margin: 0;
  	padding: 0;
}

.homebar h1 {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 100%;
  color: white;
  display: block;
  padding: 10px;
  padding-top: 0;
  margin:0;
  font-weight: 600;
  text-align: center;
}

.homebar h2 {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 50%;
  color: #77bd77;
  display: block;
  padding: 10px;
  margin: 0;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

#colophon {
    padding-top: 4px;
    padding-bottom: 0px;
}

.content h1 {
  font-family: "Lucida Console", Monaco, monospace;
}

.content h2 {
  font-family: "Lucida Console", Monaco, monospace;
}

.content p {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 130%;
  color: #c98cff;
  line-height: 1.5;
}
  
.emph {font-size: 130%;
    font-family: "Lucida Console", Monaco, monospace;
    font-style: oblique;
	color: #d2b72e;}

.content li {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 130%;  
}

.long li {
  margin-bottom: 15px;  
}

.content p + ul {
  margin-top: -15px;
}

.content a {
  color: #3e4d4c;
  font-weight: 600;
  text-decoration: none;
}

#karl {
margin-right: 100px;
  margin-top: 100px;
background-color: #c98cff;
}

#footer p {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
}

#footer {
  padding-top: 0px;
  padding-left: 0px;
}


/* LAYOUT STUFF */

/* Page content. The content margin-left must match the sidebar width */

div.content {
margin-left: 10px;
margin-right: 10px;
padding-top: 0px;
padding-left: 10px;
padding-right: 10px;
height: 1000px;
}

 /* The side navigation menu */
.homebar {
width: 100%;
height: auto;
  margin: 0px;
  padding: 0px;        /* <--- CHANGE US TOGETHER */
  background-color: #7a5fa0;
  position: relative;
  overflow: auto;
}

/* Sidebar links */

.homebar a {
 font-family: "Lucida Console", Monaco, monospace;
  display: block;
  color: #77bd77;
  padding: 14px;
  padding-top: 10px;
  text-decoration: none;
  font-size: 90%;
    text-align: center;
     float: left;
}


#colophon a {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 100%;
  color: #77bd77;
  display: block;
  padding: 0px;
  padding-top: 0;
  margin:0;
  font-weight: 600;
  text-align: center;
}

/* Active/current link */
.homebar a.active {
  background-color: #6a4484;
  color: #f5dea8;
}

/* Links on mouse-over */
.homebar a:hover:not(.active) {
  background-color: #6a4484;
  color: #f5dea8;
}

#colophon a:hover:not(.active) {
  background-color: #6a4484;
  color: #afb8c4;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .homebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .homebar a {float: left;}
  div.content {margin-left: 0;}
  
  div.content{
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  }

}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .homebar a {
    text-align: center;
    float: none;
    padding: 0px;
  }
  
  div.content{
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  }
} 