body {
	background-color: white;
}

.homebar h1 {
  color: #93b1dc;
}

.homebar h2 {
  color: #ece26a;
}

.content p {
  color: #93b1dc;
}

emph {
	color: #ece26a;}

.content a {
  color: #ece26a;
}

.homebar {
  background-color: #1d3677;
}

.homebar a {
  color: #ece26a;
}

#colophon a {
  color: white;
}

.homebar a.active {
  background-color: #97cddb;
  color: white;
}

.homebar a:hover:not(.active) {
  background-color: #97cddb;
  color: white;
}

#colophon a:hover:not(.active) {
  background-color: #97cddb;
  color: white;
}