body {
	background-color: black;
}

/* homebar text*/
.homebar h1 {
  color: white;
}

.homebar h2 {
  color: #ffda7c;
}

.content h1 {
  color: #ffda7c;
  line-height: 1.5;
}

.content h2 {
  color: #ffda7c;
  font-size: 120%;
}

.content p {
  color: white;
    text-indent:50px;
}

.content pcontinue {
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 115%;
  line-height: 1.5;
}

.content stillnote {
  color: #ffda7c;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 90%;
  line-height: 1.5;
  align-content: center;
}

img {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

emph {
	color: #ffda7c;
    font-size: 100%}

.content a {
  color: #e9cfa2;
}

.homebar {
  background-color: #700200;
}

.homebar a {
  color: #ffda7c;
}

#colophon a {
  color: #ffda7c;
}

.homebar a.active {
  background-color: white;
  color: red; /* change this and next to same*/
} 

.homebar a:hover:not(.active) {
  background-color: white;
  color: red; /* change this and above to same*/
}

#colophon a:hover:not(.active) {
  background-color: white;
  color: red;
}