body {
	background-color: black;
}

/* homebar text*/
.homebar h1 {
  color: white;
}

.homebar h2 {
  color: #ffea7a;
}

.content h1 {
  color: #ff5757;
}

.content h3 {
  color: #ff5757;
  font-family: "Lucida Console", Monaco, monospace;
  line-height: 1.5;
}

.content h2 {
  color: #ffea7a;
  font-size: 120%;
 line-height: 1.5;
}

.content p {
  color: white;
}

emph {
	color: #ffea7a;
    font-size: 100%}

.content a {
  color: #ff5757;
}

.homebar {
  background-color: #700200;
}

.homebar a {
  color: #ffea7a;
}

#colophon a {
  color: #ffea7a;
}

.homebar a.active {
  background-color: white;
  color: red; /* change this and next to same*/
} 

.homebar a:hover:not(.active) {
  background-color: white;
  color: red; /* change this and above to same*/
}

#colophon a:hover:not(.active) {
  background-color: white;
  color: red;
}