body {
	background-color: #ffeff3;
}

/* homebar text*/
.homebar h1 {
  color: #f5dea8;
}

.homebar h2 {
  color: #572905;
}
.content img {
   margin-right: 20px;
}
.content p {
  color: #ff7ca1;
  margin: inherit;
}

emph {
	color: #ece26a;}

.content a {
  color: #e9cfa2;
}

.homebar {
  background-color: #596949;
}

.homebar a {
  color: #572905;
}

#colophon a {
  color: #993c4c;
}

.homebar a.active {
  background-color: #b2c4b1;
  color: #b41e49; /* change this and next to same*/
} 

.homebar a:hover:not(.active) {
  background-color: #b2c4b1;
  color: #b41e49; /* change this and above to same*/
}

#colophon a:hover:not(.active) {
  background-color: #b2c4b1;
  color: #b41e49;
}