body {
	background-color: #860e0e;
}

/* homebar text*/
.homebar h1 {
  color: #4f077b;
}

.homebar h2 {
  color: white;
}

.content h1 {
  color: black;
}

.content h2 {
  color: black;
  font-size: 170%;
 line-height: .75;
    font-weight: 5000
}

.content h3 {
  color: black;
  font-family: "Lucida Console", Monaco, monospace;
    font-size:120%;
    line-height: .5;
}

.content p {
  color: white;
}

emph {
	color: black;
    font-size: 100%}

.content a {
  color: black;
}

.homebar {
  background-color: black;
}

.homebar a {
  color: white;
}

#colophon a {
  color: #4f077b;
}

.homebar a.active {
  background-color: #4f077b;
  color: black; /* change this and next to same*/
} 

.homebar a:hover:not(.active) {
  background-color: #4f077b;
  color: black; /* change this and above to same*/
}

#colophon a:hover:not(.active) {
  background-color: #4f077b;
  color: black;
}