body {
	background-color: #f2f0ba;
}

.homebar h1 {
  color: #fa77e8;
}

.homebar h2 {
  color: #c3de81;
}

.content p {
  color: #fa77e8;
}
  
.emph {
	color: #d2b72e;}

.content a {
  color: #fa77e8;
}

.homebar {
  background-color: #782e4b;
}

.homebar a {
  color: #c3de81;
}


#colophon a {
  color: #c3de81;
}

.homebar a.active {
  background-color: #ae3f5f;
  color: #f2f0ba;
}

.homebar a:hover:not(.active) {
  background-color: #ae3f5f;
  color: #f2f0ba;
}

#colophon a:hover:not(.active) {
  background-color: #262536;
  color: #f2f0ba;
}