body {
	background-color: #f2f0ba;
}

.homebar h1 {
  color: #fa77e8;
}

.homebar h2 {
  color: #c3de81;
}

.content p {
  color: #ae3f5f;
}

.content h1 {
  color: #782e4b;
}
.content h2 {
  color: #ae3f5f;
}
  
#pgmap {
text-align: center
}
.emph {
	color: #d2b72e;}

.content a {
  color: #fa77e8;
}

#center {
  margin: auto;
  padding: 10px;
  width: 100%;
}

.homebar {
  background-color: #782e4b;
}

.homebar a {
  color: #c3de81;
}

#colophon a {
  color: #c3de81;
}

.homebar a.active {
  background-color: #ae3f5f;
  color: #f2f0ba;
}

.homebar a:hover:not(.active) {
  background-color: #ae3f5f;
  color: #f2f0ba;
}

#colophon a:hover:not(.active) {
  background-color: #ae3f5f;
  color: #f2f0ba;
}